body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #151515;
  color: #ffffff;
}

#map {
  height: 100vh;
  width: 75%;
}

#page {
    display: flex;
    flex-direction: row;
}


#side_panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    flex: 1;
}

#spin-btn {
  top: 20px;
  left: 20px;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background: #0078ff;
  color: white;
}
